name: a2bpoint
description: "A new Flutter project."
version: 1.0.0+1

environment:
  sdk: '>=3.4.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  provider: ^6.1.2
  intl_phone_number_input: ^0.7.3
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - assets/logo_background.png
    - assets/facebook_icon.png
    - assets/google_icon.png
    - assets/apple_icon.png
    - assets/email_icon.png